.container{
    width: 1200px;
margin: 0 auto; 
padding: 0 15px;
outline: solid #2196F3

}
.main-portfolio-list{
    display: flex;
}

.hero-box{
    display: flex;
    
}
.header-box{
    display: flex;
    align-self: center;
}
.header-navigation{
    outline: solid red; 
    margin-right: 344px;
    margin-left: 93px;
}


.about-list{
    display: flex;
}
.about-item{
  
 
}
.pages-list_advent{
    display: flex;
}
.pages-item_advent{
    display: inline-flex;
   
   
}
.container-list{
    display: flex;

}
.container-item{
    display: inline-flex;

     
}
body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
justify-content: space-around;
align-self: center;
}

:root {
    --text-color: #757575;
    --heading-color: #212121;
    --baground-color: #2F303A;
    --aczent-color: #2196F3;
    --miane-header-color: #fff;
}


h3 {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;

}

.hero-order {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

h1 {
    color: #fff;

    text-transform: uppercase;
}

a {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    text-decoration: none;
}

a:hover {
    color: #2196F3;
}

.footer-web {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;

    font-weight: 700;
    line-height: 1.38;
    /* 4 */
    letter-spacing: 0.78px;
}

.footer-stud {
    color: #000;
    font-family: Raleway;
    font-size: 26px;

    font-weight: 700;
    line-height: 1.38;
    /* 5 */
    letter-spacing: 0.78px;
}

.header-web {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;

    font-weight: 700;
    line-height: 1.38;
    /* 4 */
    letter-spacing: 0.78px;
}

.header-web:hover {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;

    font-weight: 700;
    line-height: 1.38;
    /* 4 */
    letter-spacing: 0.78px;
}

.header-stud {
    color: #000;
    font-family: Raleway;
    font-size: 26px;

    font-weight: 700;
    line-height: 1.38;
    /* 5 */
    letter-spacing: 0.78px;
}

.pages-list>.pages-item>p {
    color: #757575;

    font-size: 14px;

    font-weight: 400;
    line-height: 24px;
    /* 6 */
    letter-spacing: 0.42px;
}

.h2-what-we-do {
    color: #212121;

    text-align: center;

    font-size: 36px;

    font-weight: 700;
    line-height: normal;
    /* 7 */
    letter-spacing: 1.08px;
}

.footer-text-gr {
    color: grey;
    font-size: 14px;

    font-weight: 400;
    line-height: 24px;

    letter-spacing: 0.42px;
}

.footer-text-adrs {
    color: rgba(255, 255, 255, 0.60);

    font-size: 14px;

    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
}



.container-title {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

.main-portfolio-absats {
    color: #757575;
    font-size: 16px;

    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
    letter-spacing: 0.48px;
}

.advent-text {
    color: #757575;

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

/* 9 line-hight */
.main-portfolio-title {
    color: #212121;
    font-size: 18px;

    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
}

.container-name {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;

}

.main-button {
    color: #212121;
    text-align: center;
    font-size: 16px;

    font-weight: 500;
    line-height: 26px;
    /* 162.5% */
    letter-spacing: 0.48px;
    width: 103px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #F5F4FA;
}

.main-button:hover {

    background: #2196F3;
    color: #FFF;

}

.header-item {
    color: #212121;
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
   
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.hero-title {
    display: flex;
    width: 696px;
    flex-shrink: 0;
}

.about-title {
    color: #212121;
    text-align: center;

    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.container-header {
    color: #212121;
    text-align: center;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.header-link {
    color: #757575;

    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: inline-flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.hero-title {
    color: #FFF;
    text-align: center;

    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
}